
<div id="elhtml">



  <h2>1° Procesamiento AUDITIVO</h2>
  <br>
            <br>
  <b>1-</b>    Reacciona fuertemente a sonidos inesperados o altos (por ejemplo, sirenas, perros ladrando, secadora de pelo).
  <br>

  <input id="rdo_5" type="radio" value="5" name="price1" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   CS
  <input id="rdo_4" type="radio" value="4" name="price1" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   F

  <input id="rdo_3" type="radio" value="3" name="price1" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">  MT

  <input id="rdo_2" type="radio" value="2" name="price1" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   O

  <input id="rdo_1" type="radio" value="1" name="price1" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   CN
  <br>
  <br>
  <b>2-</b>  Se cubre los oídos con las manos para protegerlos de los sonidos.
  <br>

  <input id="rdo_5" type="radio" value="5" name="price2" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   CS
  <input id="rdo_4" type="radio" value="4" name="price2" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   F

  <input id="rdo_3" type="radio" value="3" name="price2" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">  MT

  <input id="rdo_2" type="radio" value="2" name="price2" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   O

  <input id="rdo_1" type="radio" value="1" name="price2" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   CN
  <br>
  <br>
  <b>3-</b>  Le cuesta trabajo completar las tareas cuando hay música o la televisión está prendida.
  <br>

  <input id="rdo_5" type="radio" value="5" name="price3" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   CS
  <input id="rdo_4" type="radio" value="4" name="price3" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   F

  <input id="rdo_3" type="radio" value="3" name="price3" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">  MT

  <input id="rdo_2" type="radio" value="2" name="price3" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   O

  <input id="rdo_1" type="radio" value="1" name="price3" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   CN
  <br>
  <br>
  <b>4-</b>  Se distrae cuando hay mucho ruido alrededor.
  <br>

  <input id="rdo_5" type="radio" value="5" name="price4" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   CS
  <input id="rdo_4" type="radio" value="4" name="price4" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   F

  <input id="rdo_3" type="radio" value="3" name="price4" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">  MT

  <input id="rdo_2" type="radio" value="2" name="price4" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   O

  <input id="rdo_1" type="radio" value="1" name="price4" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   CN
            <br>
  <br>
  <b>5-</b> Se vuelve improductivo (a) con el ruido de fondo (por ejemplo, ventilador, refrigerador).
  <br>

  <input id="rdo_5" type="radio" value="5" name="price5" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   CS
  <input id="rdo_4" type="radio" value="4" name="price5" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   F

  <input id="rdo_3" type="radio" value="3" name="price5" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">  MT

  <input id="rdo_2" type="radio" value="2" name="price5" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   O

  <input id="rdo_1" type="radio" value="1" name="price5" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   CN
            <br>
  <br>
  <b>6-</b>  Parece ignorarme o no escuchar lo que estoy diciendo.

  <br>

  <input id="rdo_5" type="radio" value="5" name="price6" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   CS
  <input id="rdo_4" type="radio" value="4" name="price6" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   F

  <input id="rdo_3" type="radio" value="3" name="price6" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">  MT

  <input id="rdo_2" type="radio" value="2" name="price6" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   O

  <input id="rdo_1" type="radio" value="1" name="price6" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   CN
  <br>
            <br>
  <b>7-</b>  Parece no oír cuando lo (a) llamo por su nombre (a pesar de que puede oír bien).

  <br>

  <input id="rdo_5" type="radio" value="5" name="price7" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   CS
  <input id="rdo_4" type="radio" value="4" name="price7" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   F

  <input id="rdo_3" type="radio" value="3" name="price7" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">  MT

  <input id="rdo_2" type="radio" value="2" name="price7" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   O

  <input id="rdo_1" type="radio" value="1" name="price7" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   CN

  <br>
            <br>
  <b>8-</b> Disfruta de ruidos extraños o hace ruido (s) solo por diversión.

  <br>
  <input id="rdo_5" type="radio" value="5" name="price8" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   CS
  <input id="rdo_4" type="radio" value="4" name="price8" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   F

  <input id="rdo_3" type="radio" value="3" name="price8" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">  MT

  <input id="rdo_2" type="radio" value="2" name="price8" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   O

  <input id="rdo_1" type="radio" value="1" name="price8" onchange="getPriceUpdate();getAzul();getVerde();getAmarillo();getRojo()">   CN
            <br>

            <!-- <input id="update" type="button" name="submitform1" value="Guardar" onclick="algo()" >      -->





<!-- ----	---------------------------------------------------------------------------------------------------------------- -->
<div class="section">
<span class="site-name"><b>Resultado 2</b></span>
<input type="text" name="form2" id="form2" value="" size="5" readonly="readonly" class="p-1 mb-1  text-black">
<p> <form name="form2" id="form2" runat="server" class="form-control text-center">
  <h2>2° Procesamiento Visual</h2>
  <br>
            <br>
  <b>9-</b>  Prefiere jugar o trabajar con poca iluminación
  <br>

  <input id="rdo_5" type="radio" value="5" name="price9" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   CS
  <input id="rdo_4" type="radio" value="4" name="price9" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   F

  <input id="rdo_3" type="radio" value="3" name="price9" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">  MT

  <input id="rdo_2" type="radio" value="2" name="price9" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   O

  <input id="rdo_1" type="radio" value="1" name="price9" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   CN
  <br>
            <br>
  <b>10-</b> Prefier estampados o colores brillantes para la ropa.
  <br>

  <input id="rdo_5" type="radio" value="5" name="price10" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   CS
  <input id="rdo_4" type="radio" value="4" name="price10" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   F

  <input id="rdo_3" type="radio" value="3" name="price10" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">  MT

  <input id="rdo_2" type="radio" value="2" name="price10" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   O

  <input id="rdo_1" type="radio" value="1" name="price10" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   CN

            <br>
  <br>
  <b>11-</b>  Disfruta viendo los detalles visuales en los objetos.
  <br>

  <input id="rdo_5" type="radio" value="5" name="price11" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   CS
  <input id="rdo_4" type="radio" value="4" name="price11" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   F

  <input id="rdo_3" type="radio" value="3" name="price11" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">  MT

  <input id="rdo_2" type="radio" value="2" name="price11" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   O

  <input id="rdo_1" type="radio" value="1" name="price11" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   CN
  <br>
            <br>
  <b>12-</b>  Necesita ayuda para encontrar objetos que son evidentes para otras personas.
  <br>

  <input id="rdo_5" type="radio" value="5" name="price12" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   CS
  <input id="rdo_4" type="radio" value="4" name="price12" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   F

  <input id="rdo_3" type="radio" value="3" name="price12" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">  MT

  <input id="rdo_2" type="radio" value="2" name="price12" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   O

  <input id="rdo_1" type="radio" value="1" name="price12" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   CN
  <br>
            <br>
            <b>13-</b>  Le molestan las luces brillantes más que a otros niños (as) de su misma edad.
  <br>

  <input id="rdo_5" type="radio" value="5" name="price13" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   CS
  <input id="rdo_4" type="radio" value="4" name="price13" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   F

  <input id="rdo_3" type="radio" value="3" name="price13" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">  MT

  <input id="rdo_2" type="radio" value="2" name="price13" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   O

  <input id="rdo_1" type="radio" value="1" name="price13" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   CN
  <br>
            <br>
            <b>13-</b>  Le molestan las luces brillantes más que a otros niños (as) de su misma edad.
            <br>

            <input id="rdo_5" type="radio" value="5" name="price13" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price13" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price13" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price13" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price13" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   CN
            <br>
                      <br>
            <b>14-</b> Observa a las personas mientras se mueven alrededor de la habitación.
            <br>

            <input id="rdo_5" type="radio" value="5" name="price14" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price14" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price14" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price14" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price14" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   CN

                      <br>
            <br>
                      <b>15-</b>  Le molestan las luces brillantes (por ejemplo, se esconde de la luz del sol que entra por la ventana del automóvil).
            <br>

            <input id="rdo_5" type="radio" value="5" name="price15" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price15" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price15" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price15" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price15" onchange="getPriceUpdate2();getAzul();getVerde();getAmarillo();getRojo()">   CN
            <BR>
            <!-- <input id="update" type="button" name="submitform1" value="Guardar" >    -->
                  </form>

        </div>


  <br>



            <span class="site-name"><b>Resultado 3</b> </span>
            <input type="text" name="form3" id="form3" value="" size="5" readonly="readonly" class="p-1 mb-1  text-black">
          <p> <form name="form1" id="form3" runat="server" class="form-control text-center" >

            <h2>3° Procesamiento TACTIL</h2>
            <br>
            <br>
                      <b>16-</b>  Muestra angustia cuando le arreglan (por ejemplo, pelea o llora cuando le cortan el pelo, le lavan la cara, le cortan las uñas)
            <br>

            <input id="rdo_5" type="radio" value="5" name="price16" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price16" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price16" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price16" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price16" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CN


            <br>
                      <br>
            <b>17-</b>  Le irrita usar zapatos o calcetines.
            <br>

            <input id="rdo_5" type="radio" value="5" name="price17" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price17" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price17" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price17" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price17" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CN
            <br>
            <br>
            <b>18-</b>  Muestra una reaccion emocional o agresiva cuando alguien lo (a) toca
            <br>

            <input id="rdo_5" type="radio" value="5" name="price18" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price18" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price18" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price18" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price18" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CN
            <br>
            <br>
            <b>19-</b>  Se pone ansioso al estar de pie cerca de otros (por ejemplo, esperar en fila)
            <br>

            <input id="rdo_5" type="radio" value="5" name="price19" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price19" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price19" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price19" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price19" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CN
            <br>
            <br>
            <b>20-</b>  Se frota o rasca la parte del cuerpo donde le han tocado
            <br>

            <input id="rdo_5" type="radio" value="5" name="price20" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price20" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price20" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price20" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price20" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CN
                      <br>
            <br>
            <b>21-</b>  Toca personas u objetos al grado de molestar a otras personas
            <br>

            <input id="rdo_5" type="radio" value="5" name="price21" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price21" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price21" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price21" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price21" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CN
                      <br><br>
            <b>22-</b>  Muestra necesidad de tocar juguetes, superficies o texturas (por ejemplo, quiere experimentar la sensación de todo)
            <br>

            <input id="rdo_5" type="radio" value="5" name="price22" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price22" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price22" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price22" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price22" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CN

                      <br><br>
            <b>23-</b>  Parede no darse cuenta del calor
            <br>

            <input id="rdo_5" type="radio" value="5" name="price23" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price23" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price23" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price23" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price23" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CN


                      <br><br>
                      <b>24-</b>  Parece no darse cuenta de los cambios de temperatura
            <br>

            <input id="rdo_5" type="radio" value="5" name="price24" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">  CS
            <input id="rdo_4" type="radio" value="4" name="price24" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">  F

            <input id="rdo_3" type="radio" value="3" name="price24" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price24" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price24" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CN
                      <br>
            <br>
            <b>25-</b>  Toca personas u objetos mas que otros niños (as) de su misma edad
            <br>

            <input id="rdo_5" type="radio" value="5" name="price25" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price25" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price25" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price25" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price25" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CN

            <br><br>
            <b>26-</b>  Parece no estar consciente de tener la cara o la manos sucias.
            <br>

            <input id="rdo_5" type="radio" value="5" name="price26" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price26" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price26" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price26" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price26" onchange="getPriceUpdate3();getAzul();getVerde();getAmarillo();getRojo()">   CN
                      <br>
                      <!-- <input id="update" type="button" name="submitform1" value="Guardar" onclick="aca()" >      -->

                  </form>


            <span class="site-name"><b>Resultado 4</b></span>
            <input type="text" name="form4" id="form4" value="" size="5" readonly="readonly" class="p-1 mb-1  text-black">
          <p> <form name="form1" id="form4" runat="server" class="form-control text-center" >
            <h2>4° Procesamiento De MOVIMIENTO</h2>
            <br>
            <br>
            <b>27-</b>  Procura estar en movimiento hasta el grado que llega a interferir con sus actividades diarias (por ejemplo, no puede quedarse quieto (a), estar sentado (a) sin moverse.
            <br>

            <input id="rdo_5" type="radio" value="5" name="price27" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price27" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price27" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price27" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price27" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   CN


            <br>
                      <br>
            <b>28-</b>  Se mece sentado (a) en una silla, en el piso o estando de pie.
            <br>

            <input id="rdo_5" type="radio" value="5" name="price28" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price28" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price28" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price28" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price28" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   CN
            <br>	<br>
            <b>29-</b>  Titubea al subir o bajar de la acera/banqueta o de escalones (por ejemplo, es cauteloso (a), se detiene antes de moverse).
            <br>

            <input id="rdo_5" type="radio" value="5" name="price29" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price29" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price29" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price29" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price29" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   CN

            <br><br>
            <b>30-</b>  Se emociona cuando realiza tareas que implican movimiento.
            <br>

            <input id="rdo_5" type="radio" value="5" name="price30" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price30" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price30" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price30" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price30" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   CN

            <br><br>
            <b>31-</b>  Toma riesgos al trepar/escalar o hacer movimientos que no son seguros
            <br>

            <input id="rdo_5" type="radio" value="5" name="price31" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price31" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price31" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price31" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price31" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   CN
                      <br><br>
                      <b>32-</b>  Busca oportunidades de caerse, sin considerar su propia seguridad (por ejemplo, se cae a propósito)
            <br>

            <input id="rdo_5" type="radio" value="5" name="price32" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price32" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price32" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price32" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price32" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   CN
                      <br><br>
            <b>33-</b>  Cuando camina en terrenos desnivelados, pierde el equilibrio inesperadamente.
            <br>

            <input id="rdo_5" type="radio" value="5" name="price33" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price33" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price33" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price33" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price33" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   CN

                      <br> <br>
            <b>34-</b>  Choca con las cosas, sin darse cuenta de los objetos o personas que están en su camino.
            <br>

            <input id="rdo_5" type="radio" value="5" name="price34" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price34" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price34" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price34" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price34" onchange="getPriceUpdate4();getAzul();getVerde();getAmarillo();getRojo()">   CN
            <br>
  <!--
            <input id="update" type="button" name="submitform1" value="Guardar" >      -->
            <br>



                  </form>



          <span class="site-name"><b>Resultado 5</b></span>
          <input type="text" name="form5" id="form5" value="" size="5" readonly="readonly" class="p-1 mb-1  text-black">

          <p> <form name="form5" id="form5" runat="server" class="form-control text-center" >
            <h2>5° Procesamiento De Posicion Del Cuerpo</h2>

          <br>
          <b>35-</b>  Se mueve de manera rígida
          <br>

            <input id="rdo_5" type="radio" value="5" name="price35" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   CS
            <input id="rdo_4" type="radio" value="4" name="price35" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   F

            <input id="rdo_3" type="radio" value="3" name="price35" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">  MT

            <input id="rdo_2" type="radio" value="2" name="price35" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   O

            <input id="rdo_1" type="radio" value="1" name="price35" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   CN

          <br>
          <br>
          <b>36-</b>  Se cansa fácilmente, especialmente cuando está de pie o sosteniendo el cuerpo en una posición.
          <br>

          <input id="rdo_5" type="radio" value="5" name="price36" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   CS
          <input id="rdo_4" type="radio" value="4" name="price36" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   F

          <input id="rdo_3" type="radio" value="3" name="price36" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">  MT

          <input id="rdo_2" type="radio" value="2" name="price36" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   O

          <input id="rdo_1" type="radio" value="1" name="price36" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   CN
          <br>
          <br>
          <b>37-</b>  Parece tener músculos débiles
          <br>

          <input id="rdo_5" type="radio" value="5" name="price37" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   CS
          <input id="rdo_4" type="radio" value="4" name="price37" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   F

          <input id="rdo_3" type="radio" value="3" name="price37" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">  MT

          <input id="rdo_2" type="radio" value="2" name="price37" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   O

          <input id="rdo_1" type="radio" value="1" name="price37" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   CN
          <br>
          <br>
          <b>38-</b>  Necesita apoyo para soportarse a si mismo (a) por ejemplo, sostiene la cabeza con sus manos, se recarga en la pared.
          <br>

          <input id="rdo_5" type="radio" value="5" name="price38" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   CS
          <input id="rdo_4" type="radio" value="4" name="price38" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   F

          <input id="rdo_3" type="radio" value="3" name="price38" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">  MT

          <input id="rdo_2" type="radio" value="2" name="price38" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   O

          <input id="rdo_1" type="radio" value="1" name="price38" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   CN
          <br>

          <br>
          <b>39-</b>  Se aferra  a objetos, paredes o barandillas más que otros niños (as) de la misma edad
          <br>

          <input id="rdo_5" type="radio" value="5" name="price39" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   CS
          <input id="rdo_4" type="radio" value="4" name="price39" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   F

          <input id="rdo_3" type="radio" value="3" name="price39" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">  MT

          <input id="rdo_2" type="radio" value="2" name="price39" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   O

          <input id="rdo_1" type="radio" value="1" name="price39" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   CN
          <br>
          <br>
          <b>40-</b>  Hace ruido al caminar como si le pesaran los pies
          <br>

          <input id="rdo_5" type="radio" value="5" name="price40" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   CS
          <input id="rdo_4" type="radio" value="4" name="price40" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   F

          <input id="rdo_3" type="radio" value="3" name="price40" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">  MT

          <input id="rdo_2" type="radio" value="2" name="price40" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   O

          <input id="rdo_1" type="radio" value="1" name="price40" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   CN
          <br>
          <br>
          <b>41-</b>  Se estira echándose sobre los muebles o encima de la gente
          <br>

          <input id="rdo_5" type="radio" value="5" name="price41" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   CS
          <input id="rdo_4" type="radio" value="4" name="price41" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   F

          <input id="rdo_3" type="radio" value="3" name="price41" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">  MT

          <input id="rdo_2" type="radio" value="2" name="price41" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   O

          <input id="rdo_1" type="radio" value="1" name="price41" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   CN
          <br>
          <br>
          <b>42-</b>  Necesita cobijas/frazadas gruesas para dormir
          <br>

          <input id="rdo_5" type="radio" value="5" name="price42" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   CS
          <input id="rdo_4" type="radio" value="4" name="price42" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   F

          <input id="rdo_3" type="radio" value="3" name="price42" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">  MT

          <input id="rdo_2" type="radio" value="2" name="price42" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   O

          <input id="rdo_1" type="radio" value="1" name="price42" onchange="getPriceUpdate5();getAzul();getVerde();getAmarillo();getRojo()">   CN
          <br>
          <!-- <input id="update" type="button" name="submitform1" value="Guardar" >      -->


        </form>



        <span class="site-name"><b>Resultado 6</b></span>
        <input type="text" name="form6" id="form6" value="" size="5" readonly="readonly" class="p-1 mb-1  text-black">

        <p> <form name="form5" id="form6" runat="server" class="form-control text-center" >
          <h2>6° Procesamiento Sensorial Oral</h2>

          <br>
          <b>43-</b>  Tiene el reflejo de vómito (por ejemplo, con la textura de la comida o los cubiertos en la boca)

          <br>

          <input id="rdo_5" type="radio" value="5" name="price43" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CS
          <input id="rdo_4" type="radio" value="4" name="price43" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   F

          <input id="rdo_3" type="radio" value="3" name="price43" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">  MT

          <input id="rdo_2" type="radio" value="2" name="price43" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   O

          <input id="rdo_1" type="radio" value="1" name="price43" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CN
          <br>
          <br>
          <b>44-</b>  Rechaza ciertos sabores u olores de comida que forman parte de la dieta típica infantil.
          <br>

          <input id="rdo_5" type="radio" value="5" name="price44" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CS
          <input id="rdo_4" type="radio" value="4" name="price44" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   F

          <input id="rdo_3" type="radio" value="3" name="price44" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">  MT

          <input id="rdo_2" type="radio" value="2" name="price44" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   O

          <input id="rdo_1" type="radio" value="1" name="price44" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CN
          <br>
          <br>
          <b>45-</b>  Solo come ciertos sabores (por ejemplo, dulce, salado)
          <br>

          <input id="rdo_5" type="radio" value="5" name="price45" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CS
          <input id="rdo_4" type="radio" value="4" name="price45" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   F

          <input id="rdo_3" type="radio" value="3" name="price45" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">  MT

          <input id="rdo_2" type="radio" value="2" name="price45" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   O

          <input id="rdo_1" type="radio" value="1" name="price45" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CN
          <br>
          <br>
          <b>46-</b>   Se limita así mismo (a) solo a ciertas texturas de comida
          <br>

          <input id="rdo_5" type="radio" value="5" name="price46" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CS
          <input id="rdo_4" type="radio" value="4" name="price46" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   F

          <input id="rdo_3" type="radio" value="3" name="price46" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">  MT

          <input id="rdo_2" type="radio" value="2" name="price46" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   O

          <input id="rdo_1" type="radio" value="1" name="price46" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CN
          <br>
          <br>
          <b>47-</b>  Es particular o exigente para comer, especialmente  en lo que se refiere a la textura de la comida.
          <br>

          <input id="rdo_5" type="radio" value="5" name="price47" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CS
          <input id="rdo_4" type="radio" value="4" name="price47" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   F

          <input id="rdo_3" type="radio" value="3" name="price47" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">  MT

          <input id="rdo_2" type="radio" value="2" name="price47" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   O

          <input id="rdo_1" type="radio" value="1" name="price47" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CN
          <br>
          <br>
          <b>48-</b>  Huele objetos que no son comida
          <br>

          <input id="rdo_5" type="radio" value="5" name="price48" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CS
          <input id="rdo_4" type="radio" value="4" name="price48" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   F

          <input id="rdo_3" type="radio" value="3" name="price48" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">  MT

          <input id="rdo_2" type="radio" value="2" name="price48" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   O

          <input id="rdo_1" type="radio" value="1" name="price48" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CN
          <br>
          <br>
          <b>49-</b>  Muestra una fuerte preferencia hacia ciertos sabores
          <br>

          <input id="rdo_5" type="radio" value="5" name="price49" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CS
          <input id="rdo_4" type="radio" value="4" name="price49" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   F

          <input id="rdo_3" type="radio" value="3" name="price49" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">  MT

          <input id="rdo_2" type="radio" value="2" name="price49" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   O

          <input id="rdo_1" type="radio" value="1" name="price49" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CN
          <br>
          <br>
          <b>50-</b>  Se le antojan ciertos alimentos, sabores u olores.
          <br>

          <input id="rdo_5" type="radio" value="5" name="price50" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CS
          <input id="rdo_4" type="radio" value="4" name="price50" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   F

          <input id="rdo_3" type="radio" value="3" name="price50" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">  MT

          <input id="rdo_2" type="radio" value="2" name="price50" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   O

          <input id="rdo_1" type="radio" value="1" name="price50" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CN
          <br>
          <br>
          <b>51-</b>  Se mete objetos a la boca (por ejemplo, lápiz, las manos)
          <br>

          <input id="rdo_5" type="radio" value="5" name="price51" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CS
          <input id="rdo_4" type="radio" value="4" name="price51" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   F

          <input id="rdo_3" type="radio" value="3" name="price51" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">  MT

          <input id="rdo_2" type="radio" value="2" name="price51" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   O

          <input id="rdo_1" type="radio" value="1" name="price51" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CN
          <br>
          <br>
          <b>52-</b>  Se muerde la lengua o los labios, mas que otros niños (as) de su misma edad.
          <br>

          <input id="rdo_5" type="radio" value="5" name="price52" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CS
          <input id="rdo_4" type="radio" value="4" name="price52" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   F

          <input id="rdo_3" type="radio" value="3" name="price52" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">  MT

          <input id="rdo_2" type="radio" value="2" name="price52" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   O

          <input id="rdo_1" type="radio" value="1" name="price52" onchange="getPriceUpdate6();getAzul();getVerde();getAmarillo();getRojo()">   CN
          <br>
          <!-- <input id="update" type="button" name="submitform1" value="Guardar" >      -->

          <br>
          <br>

        </form>



        <span class="site-name"><b>Resultado 7</b></span>
        <input type="text" name="form7" id="form7" value="" size="5" readonly="readonly" class="p-1 mb-1  text-black">

        <p> <form name="form1" id="form7" runat="server" class="form-control text-center" >
          <h2>7° Conducta Asociada Con El Procesamiento Sensorial</h2>

          <br>
          <!-- <button class="btn btn-primary" type="button" (click)="pdf()">Download PDF</button> -->

<button type="button" class="btn btn-primary" (click)="downloadPDF()">Descargar</button>
<router-outlet></router-outlet>
